h1 {
    text-align: center;
    background-color: #d9e2e2; 
    margin: 0;
}

.jumbotron {
    margin-top: 0;
    background-color: #d9e2e2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.xxx {
    align-items: center;
    text-align: center;

}

img {
    width: 100%;
    padding: 10px;
}

ul {
    padding: 20px;
}

li {
    list-style: none;
    padding: 10px;
    border: 1px solid black;
}